.nav-link {
    padding: 0 1rem !important;
    font-weight: 600;
}

.navbar-brand {
    color: goldenrod !important;
    font-weight: 700;
}

.btn-search {
    padding: 1rem 2rem;
    color: #fff;
    background: #F06C4E;
    border-radius: 0px 10px 10px 0px;
    font-weight: 600;
}

#form-search {
    width: 570px;
    height: 60px;
    border-radius: 10px 0px 0px 10px;

}

.meal-name {
    text-align: center;
}

.card {
    border-radius: 1rem;
}

.card img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-title {
    font-weight: 600;
}
#meal-details h3, h5 {
    color: #252525;
}
#meal-details h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 22px 0;
}
#meal-details h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}
#meal-details-img {
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
#meal-details p {
    color: #6C6C6C;
}
#meal-details {
    display: none;
}